
section{
    .titulo-menu{
        display: inline-block;
        padding: 20px 80px;
        margin: 30px;
        transform: translateX(25rem);
        text-align: center;
        font-size: 80px;
        color: black;
        border: 3px solid red;
        border-radius: 10px;
        background-color: rgb(183,21,21);
        box-shadow:  0 0 20px 5px white ;
    }
}