
header{
    background-color: black;
    border-bottom: 2px solid orange;
    display: block;
    margin: auto;
    padding: 0;
        section{
             div{
                a{
                    .logoChicken{
                        height: 160px;
                        width: 300px;
                    }
                    //
                    .titulo{
                        height: 150px;
                        width: 75%;  
                    }
                    
                }
            }
        }
}

