
header{
    background-color: black;
    border-bottom: 2px solid orange;
    display: block;
    margin: auto;
    padding: 20px 0;
        section{
             div{
                a{
                    .logoChicken{
                        height: auto;
                        width: 100%;
                        max-width: 300px;
                    }
                    //
                    .titulo{
                        max-width: 100%;
                        height: auto;
                        width: 75%;  
                        max-width: 600px;
                        margin: 0 auto;
                    }
                    
                }
            }
        }
}

@media (max-width: 468px) {
    .titulo{
        display: none;
    }
    .logoChicken{
       transform: translateX(5.5rem); 
    }
}

@media (min-width: 720px) {
    .logoChicken{
        display: none;
    }
    .titulo{
        transform: translateX(4rem);
    }
}