
section{
    main{
        div{
            .titulo-contacto{
                margin:40px ;
                background-color: rgba(210, 103, 34);
                font-size: 85px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: center;
                border-radius: 30px; 
            }
        }
        //
        section{
            div{
                .WhatsApp1{
                    margin-top: 50px;
                    padding: 20px;
                    border:10px solid white;
                    background-color: green;
                    font-size: 50px;
                    text-align: center;
                    display: inline-block; 
                    text-decoration: none;
                    color: black;
                    border-radius: 30px;
                    transform: translateX(33rem);
                
                }
                .WhatsApp1:hover{color: white;}
            }
        }
        //
        section{
            div{
                .Instagram{
                    padding: 25px;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    border:10px solid white;
                    background-color: palevioletred;
                    font-size: 50px;
                    text-align: center;
                    display: inline-block;
                    transform: translateX(33rem);
                    text-decoration: none;
                    color: black;
                    border-radius: 30px;
                }
                .Instagram:hover{color: white;}
            }
        }
        //
    }
    div{
        .video1{
            height: 550px;
            width: 75%;
            margin: 30px;
            transform: translateX(8rem);
            box-shadow: 0 0 20px 30px white;
        }
    }
    
}

@media (max-width: 468px) {
    section{
        main{
            div{
                .titulo-contacto{
                    margin:40px ;
                    background-color: rgba(210, 103, 34);
                    font-size: 50px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    text-align: center;
                    border-radius: 30px; 
                }
            } 
        }
    }
}

@media (max-width: 468px) {
    section{
        main{
           section{
                div{
                    .WhatsApp1{
            
                        font-size: 50px;
                        text-align: center; 
                        text-decoration: none;
                        color: black;
                        border-radius: 30px;
                        transform: translateX(-0px);
                        
                    }
                    .Instagram{
                        font-size: 50px;
                        text-align: center; 
                        text-decoration: none;
                        color: black;
                        border-radius: 30px;
                        transform: translateX(-0px);
                        
                    }
                }
            } 
        }
        
    }
}
