@media (max-width: 500px)  {
    header{
        section{
            div{
                a{
                    .logoChicken{
                        padding: 20px;
                        transform: translateX(10rem);
                    }
                    //
                    .titulo{
                        display: none;
                    }
                }
            }
        }
    }
    //
    div{
        nav{
            ul{
                .menuinicio{
                    display: grid;
                    transform: translateX(5rem);
                    ;
                }
            }
        }
    }
    //
    .data1{
       font-size: 30px;
    }
    //
    .gradiente{
        .card1{
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 500px) {
    section{
        .titulo-menu{
            font-size: 40px;
            transform:translateX(1rem);
            padding: 10px 40px;
        }
    }
    main{
        .listas{
            display: list-item;

        }
    }





}


